.card{
  background: #3b3535;
  text-align: center;
  color: white;
  width: 25%;
  margin: auto;
  border-radius: 20px;
  font-family: Calibri;
}

h1{
  margin: 2px;
}
h2{
  color: white;
  text-align: center;
  font-family: Calibri;
}
p{
  margin: 2px;
}

img{
  margin-top: 10px;
  width: 70%;
  border-radius: 20px;
}

.chars{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
