.card{
  background: #3b3535;
  text-align: center;
  color: white;
  width: 25%;
  margin: auto;
  border-radius: 20px;
  font-family: Calibri;
  cursor: default;
  }

h1{
  margin: 2px;
}

h2{
  cursor: default;
  color: white;
  text-align: center;
  font-family: Calibri;
}
p{
  margin: 2px;
}

.chars{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
