.father{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 3;
}

.paginator{
  display: flex;
flex-wrap: wrap;
}

.pageButton{
  background: grey;
  margin: 10px;
  width: 35px;
  height: 35px;
  cursor: pointer;
  color: white;
  flex-wrap: wrap;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

